#Header,
#Footer {
    background: #333333;
    color: white;
    height: 1;
    content-align: center middle;
}

.left_pane {
    width: 1fr;
    min-width: 20;
}

.right_pane {
    width: 3fr;
}

#visualization_pane {
    height: 12fr;
}

#routing_tables_title {
    height: 1fr;
    content-align: center middle;
}

.node_tabs {
    height: 1fr;
    content-align: center middle;
}

.routing_table_pane {
    height: 7fr;
    background: #2d2d2d;
}

.graph_view_pane {
    height: 11fr;
    content-align: center middle;
}

#command_pane {
    height: 1fr;
    min-height: 3;
}

.command_input {
    height: auto;
}

.button {
    width: 1fr;
    content-align: center middle;
}