#Header,
#Footer {
    background: #333333;
    color: white;
    height: 1;
    content-align: center middle;
}

.left_pane {
    width: 1fr;
    min-width: 20;
}

.right_pane {
    width: 3fr;
}

#visualization_pane {
    height: 12fr;
}

#routing_tables_title {
    height: 1fr;
    content-align: center middle;
}

.node_tabs {
    height: 1fr;
    content-align: center middle;
}

.routing_table_pane {
    height: 7fr;
    background: #2d2d2d;
}

.graph_view_pane {
    height: 11fr;
    content-align: center middle;
}

#command_pane {
    height: 1fr;
    min-height: 3;
}

.command_input {
    height: auto;
}

.button {
    width: 1fr;
    content-align: center middle;
}

ToastRack {
    dock: top;
    padding: 2 1;
    align: right top;
}

/* Center the modal contents on the screen */
FilenamePopup {
    align: center middle;
    /* optional dim background behind dialog */
    background: $surface 60%;
}

/* The dialog box itself */
#dialog {
    height: 13;
    width: 40;
    padding: 1 2;
    border: round $accent;
    background: $panel;
    content-align: center middle;
}

/* Make the input take the dialog width nicely */
#dialog>Input {
    width: 100%;
    margin: 1 0;
}